# ==============================
# Visual Studio
# ==============================
.vs
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==============================
# Build results
# ==============================
bin/
obj/

# ==============================
# ASP.NET / .NET
# ==============================
*.dll
*.exe
*.pdb

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS
# ==============================
Thumbs.db
Desktop.ini

# ==============================
# NuGet
# ==============================
packages/
*.nupkg
.nuget/

# ==============================
# Rider / VSCode (opcional)
# ==============================
.idea/
.vscode/
